a {
    text-decoration: none;
}

.createLectureMaterials {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.createLectureMaterials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 98%;
}

.createLectureMaterials-title {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.createLectureMaterials-createInputs-container {
    display: flex;
    width: 100%;
    height: auto;
}

.createLectureMaterials-createInputs-table {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

/* 에디터가 표의 셀을 꽉 채우도록 스타일 조정 */
.tinymce-container {
    height: 100%;
}

.createLectureMaterials-createInputs-div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;

}

.createLectureMaterials-createInputs-p-file {
    width: 100%;
    height: auto;
    display: flex;

}

.createLectureMaterials-createInputs-p {
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.createLectureMaterials-createInputs-star {
    color: #FB9861;
    padding: 8px 0 0 0;
    margin: 0 0 0 10px;
}

.createLectureMaterials-select-subject {
    max-width: 130px;
}

.createLectureMaterials-select-year {
    max-width: 80px;
}

.createLectureMaterials-file-upload-box {
    position: relative;
    overflow-y: auto;
    padding: 8px 0;
    border: 2px dashed #ddd;
    box-sizing: border-box;
    max-height: 300px;
    font-size: 13px;
}

.createLectureMaterials-file-upload-box2 {
    border-color: #b6193e;
}

.createLectureMaterials-file-upload {
    padding: 8px 0;
    text-align: center;
}

.create-document-icon {
    font-size: 18px;
}

.createLectureMaterials-btn-container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createLectureMaterials-btn-container2 {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createLectureMaterials-btn-container2-createBtn {
    width: 64px;
    height: 32px;
    background-color: #b6193e;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 0;
}

.createLectureMaterials-btn-container2-createBtn:hover {
    background-color: #b84f68;
}

.createLectureMaterials-btn-container2-cancellationBtn {
    width: 64px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    font-size: 12px;
}

.createLectureMaterials-btn-container2-cancellationBtn:hover {
    background-color: #b1b1b141;
}

.create-fileSelected {
    display: none;
}

.createLectureMaterials-file-upload-wrap {
    display: flex;
    width: 100%;
    height: auto;
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

.createLectureMaterials-file-upload-wrap2 {
    display: flex;
    width: 100%;
    height: auto;
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 13px;
}


.fileItem {
    margin-bottom: 10px;
}

.closeButton {
    margin-left: 20px;
    color: rgb(182, 37, 71);
}

#create-fileSelected-label {
    text-decoration: underline;
    font-weight: 700;
}

.form-button1 {
    height: 40px;
    width: 65px;
    border: 1px solid rgb(182, 37, 71);
    background-color: rgb(182, 37, 71);
    color: white;
    border-radius: 7px;
    margin: 0 15px;
}

.form-button2 {
    height: 40px;
    width: 65px;
    border: 1px solid rgb(182, 37, 71);
    background-color: white;
    color: rgb(182, 37, 71);
    border-radius: 7px;
    margin: 0 15px;
}