a {
    text-decoration: none;
}
.studyManagementMenus-left-section {
    width: 250px;
    height: calc(100vh - 60px);
    border-right: 1px solid rgba(0, 0, 0, 0.165);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.studyManagementMenus-container {
    width: 200px;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.studyManagementMenus-container-writer {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.lectureMaterials-write-btn {
    width: 200px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    background: none;
}

.lectureMaterials-write-btn:hover {
    border: 2px solid rgba(0, 0, 0, 0.233);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.233);
}

.studyManagementMenus-class-menuTitle {
    display: flex;
    margin-top: 20px;
    width: 200px;
    height: 30px;
    justify-content: space-between;

}

.studyManagementMenus-class-menu {
    margin-top: 10px;
    width: 150px;
    height: 400px;
}

.studyManagementMenus-class-menu-btn {
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 13px;
}

.studyManagementMenus-class-menu-btn:hover {
    font-weight: 800;
}

.studyManagementMenus-class-menu-click {
    font-weight: 800;
}

.studyManagementMenus-container-menu {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1;
}