.reservation-all{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px;
}
.reservation-calender{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0px;
}
#calendar-title-yesterday{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
#calendar-title-tomorrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
#todayBtn{
    display: flex;
    background-color: white;
    border: 1px solid #d4d4d4;
    color: #d4d4d4;
    width: 50px;
    height: 25px;
    justify-content: center;
    font-size: 15px;
}
#calendar-title-btn{
    padding-left: 20px;
}
.reservation-graph{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.graph-header, .graph-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.graph-row{
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.graph-head, .graph-body-title{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    flex: 1;
    border: 1px solid #d4d4d4;
    max-width: 200px;
}
.graph-body-title{
    border-top: none;
}

.graph-head-hour{
    width: 50px;
    border: 1px solid #d4d4d4;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation-status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reservation-status-title{
    padding-top: 25px;
    width: 1255px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
}
.reservation-status-cancel{
    background-color: white;
    border: 1px solid #d4d4d4;
    color: #d4d4d4;
    width: 40px;
    height: 25px;
    font-size: 13px;
}
.reservation-status-table{
    height: 120px;
    width: 1255px;
}
.reservation-status-table table{
    width: 100%;
}
.reservation-status-table table tbody{
    display: block;
    height: 150px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}
.reservation-status-table table tbody::-webkit-scrollbar {
    display: none; 
}
.reservation-status-table th{
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
}
.reservation-status-table thead, .reservation-status-table tbody tr {
    display: table;
    width: 100%;
}
.tableTd1{
    width: 350px;
}
.tableTd2{
    width: 480px;
}
.tableTd3{
    width: 345px;
}

.graph-body{
    height: 400px;
}
.graph-body-list{
    width: 100%;
    height: 400px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}
.graph-body-list::-webkit-scrollbar {
    display: none; 
}
.graph-body-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.graph-body-head{
    padding-left: 10px;
    width: 130px;
    border: 1px solid #d4d4d4;
    border-top: none;
}
.graph-body-hour{
    width: 25px;
    border: 1px solid #d4d4d4;
    border-left: none;
    border-top: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.graph-body-body{
    display: flex;
    flex-direction: row;
}
#selectable .ui-selecting-start { 
    background: rgb(85, 175, 130);
    border-right: none;
    border-left: none;
}
#selectable .ui-selecting { 
    background: rgb(85, 175, 130);
    border-right: none;
    border-left: none;
}
#selectable .ui-selected { 
    background: rgb(85, 175, 130);
    border-right: none;
    border-left: none;
}
#modal-title-id{
    font-size: 20px;
    font-weight: bold;
}
#modal-header-id{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 69px;
    padding-top: 40px;
}
#modal-body-id{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.modal-table {
    height: 150px;
    font-size: 15px;
}
#modal-dialog-id{
    width: 700px;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-controllBtn{
    margin: 10px;
}
.modal-table tr th{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
}
#modal-body-id tr{
    height: 35px;
    display: inline-table;
}
.form-button2{
    height: 25px;
    width: 45px;
    border: 1px solid #9e9e9e;
    background-color: white;
    color: #9e9e9e;
    font-size: 14px;
}
.form-button3{
    height: 25px;
    width: 45px;
    border: 1px solid rgb(85, 175, 130);
    color: rgb(85, 175, 130);
    margin-left: 190px;
    margin-right: 10px;
    font-size: 14px;
    background-color: white;
}
#close-btn2{
    margin: 0px;
    display: none;
}
.modal-input{
    width: 512px;
    background-color: rgb(224, 224, 224);
    border-style: solid;
    border-color: rgb(158, 158, 158);
}
.modal-input2{
    width: 512px;
}
#modal-table-th-date{
    height: 60px;
}
.modal-input-date{
    background-color: rgb(224, 224, 224);
    border-style: solid;
    border-color: rgb(158, 158, 158);
}
.graph-body-confirm{
    width: 25px;
    height: 21px;
    background-color: rgb(85, 175, 130);
    opacity: 0.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor: pointer;
    position: absolute;
    font-size: 9px;
    color: white;
}
.graph-body-confirm2{
    width: 25px;
    height: 21px;
    background-color: rgb(85, 175, 130);
    opacity: 0.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position: absolute;
    font-size: 9px;
    color: white;
}
.reservation_footer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}