<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <configuration>
  	<settings>
  		<setting name="jdbcTypeForNull" value="NULL"/>
  	</settings>

  	<typeAliases>
  		<typeAlias type="com.kh.ww.employee.model.vo.Employee" alias="Employee"/>
  		<typeAlias type="com.kh.ww.notice.model.vo.Notice" alias="Notice"/>
  		<typeAlias type="com.kh.ww.notice.model.vo.NoticeReply" alias="NoticeReply"/>
  	</typeAliases>
  	
  	<mappers>
		<mapper resource="/mappers/employee-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
  	</mappers>
  	
 </configuration>