.error-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 350px;
    border-radius: 10px;
    background: white;
    z-index: 1;
    position: absolute;
    box-shadow: 1px 1px 20px gray;
    flex-direction: column;
}

.error-icon {
    color: #d35400;
    margin-bottom: 20px;
}

.error-messges {
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
}

.error-btn {
    background-color: rgb(85, 175, 130);
    border: none;
    width: 100px;
}