.maildetailForm-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    padding-left: 100px;
}

.maildetailForm-table-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.maildetailForm-table-th {
    font-size: 15px;
    font-weight: 400;
    width: 150px;
    height: 40px;
    padding-bottom: 10px;
}

.maildetailForm-table-td {
    width: 900px;
    padding-bottom: 10px;
}

.maildetailForm-file-upload-box {
    width: 900px;
    position: relative;
    overflow-y: auto;
    padding: 8px 0;
    border: 2px dashed #ddd;
    box-sizing: border-box;
    min-height: 150px;
    font-size: 13px;
    margin-bottom: 10px;
}

.maildetailForm-table-th-content {
    vertical-align: top;
    font-size: 15px;
    font-weight: 400;
}

.maildetailForm-get-content {
    width: 900px;
    height: 300px;
    border: 1px solid #ddd;
}

.maildetailForm-btn {
    font-size: 13px;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 20px;
    background: white;
}

.maildetailForm-file-upload-wrap {
    display: flex;
    width: 100%;
    height: auto;
    list-style-type: none;
    padding: 0;
    flex-direction: column;
}

.closeButton {
    margin-left: 20px;
    color: rgb(85, 175, 130);
}

.mail-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail-btnss {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.form-button1 {
    height: 40px;
    width: 65px;
    border: 1px solid rgb(85, 175, 130);
    background-color: rgb(85, 175, 130);
    color: white;
    border-radius: 7px;
    margin: 0 15px;
}

.form-button2 {
    height: 40px;
    width: 65px;
    border: 1px solid rgb(85, 175, 130);
    background-color: white;
    color: rgb(85, 175, 130);
    border-radius: 7px;
    margin: 0 15px;
}

.mailCategorySeleted {
    font-weight: 800;
}

.downloadMailbtn {
    border: none;
    background-color: white;
}